#headerDiv {
  position: fixed;
  top: 30px;
  right: 5px;
  height: 615;
  border-right-width: 1;
  border-right-style: groove;
  border-left-width: 1;
  border-left-style: groove;
  border-bottom-width: 1;
  border-bottom-style: groove
}


#listDiv {
 /*  width: 995;*/
  height: 615;
  border-right-width: 1;
  border-right-style: groove;
  border-left-width: 1;
  border-left-style: groove;
  border-bottom-width: 1;
  border-bottom-style: groove
}


